.music {
    margin: 6rem;
}
.music-header-container{
    display: flex;
    justify-content: space-between;
}
.music-header-message{
    font-size: 3rem;
    font-weight: 700;
}
.music-container {
    display: flex;
    flex-wrap: wrap;
   

}

@media (max-width: 30rem) {
    .music {
        margin: 3rem;
    }
}

