.header{
    display: flex;
    background-color: #38497E;
    padding: 1rem;
}
.header>a {
    text-decoration: none;
}
.header-shelf{
    padding-right: 0.3rem;
    font-size: 1.2rem;
    color: white;
}